<!DOCTYPE html>
<html>
<head>
  <title>QuaLIFY Inventory</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="nav navbar-header">
    <a href="/projects/contact" class="navbar-brand">Contact</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">English <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">German</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">

      <li><a href="/projects/signout" data-method="delete" rel="nofollow">Sign Out</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav> <br><br><br><br>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2 sidebar-padding">
						<div class="list-group">
    <a href="/users_admin" class="list-group-item">Current Users</a>
  <a href="/roles" class="list-group-item active">User Roles</a>

  <a href="/" class="list-group-item">Gadget Inventory</a>


</div>

 
  
        
        
        
        
        
        
        
       
					</div>
					<div class="col-md-10">
						<div class="col-md-9">
  <div class="well">
    <legend>Add Role </legend>
      <fieldset>
<div class="form-horizontal">
  <form accept-charset="UTF-8" action="/roles?method=post" class="new_role" id="new_role" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="1RpCnc4nA21gkjynaBNs7HIdTsMFOxARA6H4jKQpV64=" /></div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="role_Name">Name</label>
    <div class="col-md-6">
      <input class="form-control input-md" id="role_name" name="role[name]" size="30" type="text" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-8">
     <input class="btn btn-success" name="commit" type="submit" value="Submit" />
     <a href="/roles" class="btn btn-default">Back</a>
    </div>
  </div>
</form></div>
</fieldset>



  </div>
</div>
  

					</div>
				</div>
			</div>
</body>
</html>
