<html>
<head>
  <title> New User Registration </title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="nav navbar-header">
      <a href="/users/contact" class="navbar-brand">Contact</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">English <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">German</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/users/new_user">New Member Registration</a></li>      
        <li><a href="/users/signin">LOGIN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav> <br><br><br><br><br>


	<div class="container">
  <div class="well">
  <div class="row"> 
  <div class="col-lg-10 ">
      <form accept-charset="UTF-8" action="/projects/newuser" class="simple_form form-horizontal" id="new_user" method="post" novalidate="novalidate" role="form">
      <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="B1TuNwFttqwyi00Yz/h3t746UZXcJIeDlasaf2pnE4o=" />
  </div>
        <h1>New Member Registration</h1>
        <legend>
          <h4>To get access to this inventory list of gadgets please fill out the following form. Thank you </h4>
        </legend>
       
        <div class="form-group">
          <label class="string optional control-label control-label col-md-2" for="user_Firstname">Firstname</label>
        <div class="col-md-4">
        
        <input class="form-control" id="user_first_name" name="firstname" size="30" type="text" />
  </div>
  </div>

    <div class="form-group">
      <label class="string optional control-label control-label col-md-2" for="user_Lastname">Lastname</label>
        <div class="col-md-4">
          <input class="form-control" id="user_last_name" name="lastname" size="30" type="text" />
        </div>
    </div>

    <div class="form-group">
      <label class="string optional control-label control-label col-md-2" for="user_Institution">Institution</label>
        <div class="col-md-4">
          <input class="form-control" id="user_institution" name="institution" size="30" type="text" />
        </div>
    </div>

    <div class="form-group">
      <label class="string optional control-label control-label col-md-2" for="user_Email">Email</label>
        <div class="col-md-4">
          <input class="form-control" id="user_email" name="email" size="30" type="text" value="" />
        </div>
    </div>
        
    <div class="form-group">
      <label class="string optional control-label control-label col-md-2" for="user_password">Password</label>
        
        <div class="col-md-4">
          <input class="form-control" id="user_password" name="password" size="30" type="password" />
        </div>
    </div>
          
    <div class="form-group">
      <label class="string optional control-label control-label col-md-2" for="user_Confirmation">Confirmation</label>
        <div class="col-md-4">
          <input class="form-control" id="user_password_confirmation" name="password_confirmation" size="30" type="password" />
        </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2" style="padding-top:20px;">
        <input class="btn btn-primary" name="commit" type="submit" value="Become a member" /> 
      </div>
    <div>
  </form>   
</div>
</div>
</div>
</div>
</div>
</body>
</html>