
<!DOCTYPE html>
<html>
<head>
  <title>QuaLIFY Inventory</title>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="nav navbar-header">
    <a href="/user/contact" class="navbar-brand">Contact</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">English <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">German</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">

      <li><a href="/user/signout" data-method="delete" rel="nofollow">Sign Out</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav> <br><br><br><br><br>

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2 sidebar-padding">
						<div class="list-group">
              <a href="/user/current_Users" class="list-group-item">Current Users</a>
              <a href="/user/user_Roles" class="list-group-item active">User Roles</a>
              <a href="/user/gadget_Inventory" class="list-group-item">Gadget Inventory</a>
            </div>
          </div>
					
          <div class="col-md-10">
						<div class="col-md-9" id="padding">
              <div class="row">
                <div class="col-md-10">
	               <p class="lead">Listing roles</p>
                </div>
              <div class=" col-md-2">
                <a href="/roles/new" class="btn btn-primary">Add Role</a>
              </div>
            </div>
            <table class="table table-striped table-hover">
              <tr>
                <th>Role Name</th>
                <th colspan="3" class="text-center"></th>
              </tr>
              <tr>
                <td></td>
                <td><a href="/roles/571/edit">Edit</a></td>
                <td><a href="/roles/571" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
                </tr>
              <tr>
                <td></td>
                <td><a href="/roles/570/edit">Edit</a></td>
                <td><a href="/roles/570" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
              </tr>
              <tr>
                <td></td>
                <td><a href="/roles/569/edit">Edit</a></td>
                <td><a href="/roles/569" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
                </tr>
                <tr>
                  <td> </td>
                    <td><a href="/roles/567/edit">Edit</a></td>
                    <td><a href="/roles/567" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a href="/roles/566/edit">Edit</a></td>
                  <td><a href="/roles/566" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
                </tr>
              </table>
		        </div>
	        </div>
        
          <div  class='col-lg-offset-4'>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
